body {
  background: #fff;
  font: 25px Helvetica, sans-serif;
  color: #000; }

#header {
  font: Helvetica
  margin-top: 50px;
  font-weight: 300;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0px; }
  #header a {
    text-decoration: none; }

#description {
  margin: 0 100px
  font-weight: 300;
  padding-top: 1em;
  text-align: justify;}

#description img {
	    width: 180px;
	    float: left;
	    padding-right: 1em;
	    padding-bottom: 0.25em;
}


a {
  outline: 0;
  color: #000;
  text-decoration: underline;
  cursor: pointer;
  -webkit-transition: opacity 0.4s linear;
  opacity: 1;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out; }
  a:hover, a:active {
    color: #006633;
    text-decoration: none;
    -webkit-transition: opacity 0.4s linear;
    opacity: 1;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out; }



p {
    font:helvetica
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

h1 {
  font-size: 30px;
  padding-top: 0.3em;
  padding-bottom: 0.3em; }
  h1 a {
    color: inherit; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 20px; }

h4 {
  font-size: 18px; }

p {
  margin: 15px 0; }

em, i {
  font-style: italic; }

strong, b {
  font-weight: bold; }

img {
  max-width: 100%; }

footer {
  text-align: center;
  font-weight: 300;
  bottom: 0;
}

footer li {
  font: 20px/1.4 "Lato", sans-serif;

  margin: 0 100px
  font-weight: 300;
  padding-top: 1em;
  text-align: justify;}
}

footer ul {
    padding: 0;
    margin: 0;
    margin-bottom: 0.25em;
}

footer a {
    text-decoration: none;
    color: inherit;
}


nav {
  text-align: center;
  font-weight: 200;
  bottom: 0;
}

nav li {
  font-size: 3.00em;
  margin: 1em 0;
  list-style-type: none;
  display: inline;
}

nav ul {
    padding: 0;
    margin: 0;
    margin-bottom: 0.25em;
}

nav a {
    text-decoration: none;
    color: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: white;
  text-align: center;
  text-decoration: none;


}

li {
    display: inline-block;
}


li a {
  padding-left:30px;
  padding-right:30px;
  font-size: 1.00em;
  text-decoration: none;
}

.active {
    color: #006633;
}
/*making a navigation bar*/
.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 10px;
  width: 100%; }
