<header class="site-nav">
  <nav role="navigation" aria-label="Primary navigation">
    <ul>
      <li>
        <a href="/" aria-label="About me">
          <i class="fa fa-user" aria-hidden="true"></i>
          <span>About me</span>
        </a>
      </li>
      <li>
        <a href="/background" aria-label="Work &amp; Research">
          <i class="fa fa-briefcase" aria-hidden="true"></i>
          <span>Work &amp; Research</span>
        </a>
      </li>
      <li>
        <a href="/blog" aria-label="Blog">
          <i class="fa fa-pencil" aria-hidden="true"></i>
          <span>Blog</span>
        </a>
      </li>
      <li>
        <a href="/connect" aria-label="Contact">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <span>Contact</span>
        </a>
      </li>
    </ul>
  </nav>
</header>
