<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>

			<div class="container">
			
			{{ content }}
			<div class="wrapper-footer">
			  <div class="container">
			    <footer class="footer">
			        <ul>
			              
			              <li><a href="//github.com/turingsmachine" title="See my GitHub" style="text-decoration:none">
			              <i class="fa fa-github"></i></a></li> 

			              <li><a href="//twitter.com/turingsmachine" title="Follow me on Twitter" style="text-decoration:none">
			              <i class="fa fa-twitter"></i></a></li>   

			              <li><a href="//www.researchgate.net/profile/Ramanujan_Raghavan" title="Follow me on ResearchGate" style="text-decoration:none">
			              <i class="ai ai-researchgate"></i></a></li>

			              <li><a href="//orcid.org/0000-0002-5729-0032" title="View my ORCID profile" style="text-decoration:none">
			              <i class="ai ai-orcid"></i></a></li>   

			        </ul>
			        
			    </footer>
			  </div>
			</div>
			
		</body>
	</html>
