<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }}</title>
	<!-- link to main stylesheet -->
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>


<link rel="stylesheet" href="{{ site.baseurl }}/css/academicons/css/academicons.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<body >
	<div id="main" role="main" class="container">
		{{ content }}
	</div>
</body>

<footer class="footer">
  <nav role="navigation" aria-label="Footer navigation">
    <ul>
      <li>
        <a href="/" aria-label="Navigate to About me page">
          <i class="fa fa-user" aria-hidden="true"></i>
          <span>About me</span>
        </a>
      </li>
      
      <li>
        <a href="/background" aria-label="Navigate to Work & Research page">
          <i class="fa fa-briefcase" aria-hidden="true"></i>
          <span>Work & Research</span>
        </a>
      </li>
      
      <li>
        <a href="/connect" aria-label="Navigate to Contact page">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <span>Contact</span>
        </a>
      </li>
    </ul>
  </nav>
</footer>

</html>
