<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }}</title>
	<!-- link to main stylesheet -->
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>


<link rel="stylesheet" href="{{ site.baseurl }}/css/academicons/css/academicons.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="header">
	<a href="/">Ramanujan T. Raghavan</a>
</div>

<body>
	<div id="main" role="main" class="container">
		{{ content }}
	</div>

	<!-- <footer class="footer">
				<li><a href="//www.researchgate.net/profile/Ramanujan_Raghavan" title="Follow me on ResearchGate" style="text-decoration:none">
				<i class="ai ai-researchgate"></i></a></li>

				<li><a href="//orcid.org/0000-0002-5729-0032" title="View my ORCID profile" style="text-decoration:none">
				<i class="ai ai-orcid"></i></a></li>

				<li><a href="//github.com/turingsmachine" title="Check out my GitHub page" style="text-decoration:none">
				<i class="fa fa-github"></i></a></li>

				<li><a href="//twitter.com/turingsmachine" title="Follow me on Twitter" style="text-decoration:none">
				<i class="fa fa-twitter"></i></a></li>

				<li><a href="//linkedin.com/in/ramanujan-raghavan-5715583a" title="I also have a linkedin profile" style="text-decoration:none">
				<i class="fa fa-linkedin"></i></a></li>
	</footer> -->

</body>
</html>
